<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Course_work_DB.Properties.Settings.Yacht_clubConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=e:\Course work DB\Course work DB\Yacht-club.mdf;Integrated Security=false"
            providerName="System.Data.SqlClient" />
      <add name="Course_work_DB.Properties.Settings.Yacht_clubConnectionString1"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Yacht-club.mdf;Integrated Security=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
